* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Header*/

#nav {
	width: 100vw;
	top: 0px;
	z-index: 1051;
}
#logo {
	color: white;
	font-size: 180pt;
	letter-spacing: 90px;
	transform: scaleX(115%);
	opacity: 0.8;
	position: fixed;
	top: 0%;
	left: 10%;
	font-family: "Garamond";
	z-index: 1052;
}
.logoAnimation {
	animation-name: animationLogo;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
}

.logoAnimationReverse {
	animation-name: animationLogoReverse;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
}

/*Aniamtion Logo*/
/* The animation code */
@keyframes animationLogo {
	0% {
		color: white;
		font-size: 180pt;
		letter-spacing: 90px;
		top: 0%;
		left: 10%;
	}

	100% {
		color: black;
		font-size: 20pt;
		letter-spacing: 10px;
		top: 2%;
		left: 45%;
	}
}

@keyframes animationLogoReverse {
	0% {
		color: black;
		font-size: 20pt;
		letter-spacing: 10px;
		top: 2%;
		left: 45%;
	}

	100% {
		color: white;
		font-size: 180pt;
		letter-spacing: 90px;
		top: 0%;
		left: 10%;
	}
}

.bg-white {
	background-color: white !important;
	animation: opacityBG 2s ease-in forwards;
}

@keyframes opacityBG {
	0% {
		opacity: 0;
		padding-bottom: 10px;
	}
	100% {
		opacity: 9;
		padding-bottom: 0px;
	}
}
.gucci_header {
	width: 100%;
	height: 110vh;
	background-image: url("assets/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	animation: dezoom 2s ease forwards;
}

@keyframes dezoom {
	0% {
		background-size: 120%;
	}
	100% {
		background-size: 100%;
	}
}

#contact {
	font-size: small;
}

.buttonHeaderBorse {
	position: sticky;
	z-index: 1050;
	text-align: center;
	cursor: pointer;
	top: 70%;
	right: 38%;
}

#borseHeader {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	animation: showButton 0.5s ease-in forwards;
}
/*button Esplora la collezione*/
#buttonExploreCollection {
	font-size: small;
	font-weight: bold;
	width: 20em;
	margin-left: 41%;
	padding: 1%;
	border-radius: 2px;
	animation: showButton 1s ease-out 1ms forwards;
	transform: translateY(-25px);
}

@keyframes showButton {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 12;
		transform: translateY(-25px);
	}
}

.buttonHeaderBorse #borseHeader + div:hover {
	padding: 11px;
	width: 19em;
}

.menu {
	margin-right: 120px;
	font-size: 8pt;
	padding-top: 2px;
}

/*first section men and women*/

/*Conatainer card img*/
.section-ContainerMW {
	cursor: pointer;
	height: 100vh;
	overflow: hidden;
}

.cardMW {
	width: 48%;
	margin-left: 1%;
}

/*container stycky elements*/
.containerSectionFirst {
	height: 30%;
	position: relative;
	top: -30%;
}

.stickycontainer {
	position: sticky;
	z-index: 1050;
	top: 20%;
}
.stickycontainer h4 {
	text-align: center;
	padding-bottom: 2%;
}
.buttonSectionMWContainer {
	position: relative;
	z-index: 1048;
	transform: translateY(-3em);
	width: 100%;
	height: 3em;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.15);
	opacity: 0.8;
	backdrop-filter: blur(15px);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.buttonSectionMW {
	position: relative;
	z-index: 1049;
	padding: 10px;
	border: 1px solid white;
}

/*seciton museum*/
.containerRestoNiente img {
	width: 100%;
	object-fit: cover;
}
.fontSize {
	width: 75%;
	font-size: 12pt;
}
.fs-8 {
	font-size: small;
}

/*section video*/
section:nth-child(3) h2 {
	margin-top: 10%;
	font-size: 35pt;
}

figure {
	width: 30%;
	text-align: center;
}
figcaption h5 {
	font-size: 12pt;
	font-weight: 600;
}
video {
	width: 100%;
}

/*Footer*/
footer {
	background-color: black;
	overflow: hidden;
	font-size: 9pt;
}
.flex-size:first-of-type {
	width: 25% !important;
}
.flex-size:nth-child(2) {
	width: 25% !important;
}
.flex-size:last-of-type {
	width: 50%;
	padding-right: 5%;
}

footer ul li {
	list-style: none;
	padding: 15px;
}
hr {
	margin-top: 0px;
	padding-top: 0px;
	font-weight: bolder;
}
/*collapsed section start */
.bg-footer {
	background-color: black;
}
.buttonCollapse {
	border-bottom: solid 1px white;
	padding-bottom: 20px;
	margin-left: 5%;
	margin-right: 5%;
}

/*collapsed section end */

.logoFooter {
	width: 100px;
	padding-left: 2%;
}

#gucciFooter {
	font-size: 180pt;
	letter-spacing: 90px;
	font-family: "Garamond";
	text-align: center;
}

/*Message balloon*/
.message {
	width: 100px;
	height: 100px;
	z-index: 1060;
	position: fixed;
	opacity: 0;
	top: 80vh;
	right: 0vh;
	animation: showBalloon 1s ease-in 3s forwards;
	cursor: pointer;
}

.circle {
	width: 70px;
	height: 70px;
	background-color: #1b1b1b;
	border-radius: 50%;
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
}
.triangle-top-right {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 20px 0;
	border-color: transparent #1b1b1b transparent transparent;
	transform: translate(45px, -15px) rotate(-20deg);
}

@keyframes showBalloon {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}
	50% {
		opacity: 12;
		transform: translateX(-4px);
	}
	75% {
		opacity: 12;
		transform: translateX(5px);
	}
	100% {
		opacity: 12;
		transform: translateX(0);
	}
}

#slide1 {
	position: relative;
	right: 20px;
	top: 17px;
	opacity: 9;
	animation: moveToLeft 10s ease 2ms infinite;
}
#slide2 {
	position: relative;
	right: 85px;
	top: 15px;
	opacity: 0;
	animation: moveToLeftCC 5s ease 1ms infinite;
}

.cursor:hover {
	position: relative !important;
	cursor: pointer;
	z-index: 1059;
}

@keyframes moveToLeft {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 9;
	}
}

/*media query mobile version*/
@media screen and (max-width: 576px) {
	#logo {
		transform: scale(40%);
		letter-spacing: 35px;
		top: -3% !important;
		left: -68% !important;
	}
	.menu {
		display: none;
	}
	#contact {
		visibility: hidden !important;
	}

	.logoAnimation {
		animation-name: animationLogoForMobile;
		animation-duration: 0.7s;
		animation-fill-mode: forwards;
	}

	.logoAnimationReverse {
		animation-name: animationLogoReverseForMobile;
		animation-duration: 0.7s;
		animation-fill-mode: forwards;
	}

	.gucci_header {
		height: 85vh;
		background-size: cover !important;
		background-position: center;
	}

	#containerIconsMenu {
		width: 50%;
	}
	.buttonHeaderBorse {
		transform: translateX(0%) translateY(-80px) !important;
	}
	#borseHeader {
		transform: translateY(0px) !important;
	}
	.buttonHeaderBorse #borseHeader + div {
		transform: translateX(-35%) !important;
		padding: 4%;
	}

	.animationForMobile {
		font-size: smaller;
		transform: translateY(3em);
		margin-top: 0%;
		opacity: 0;
		animation: upDownButtonHeader 2s ease 2s infinite alternate-reverse;
	}

	#sectionMW {
		display: flex !important;
		flex-direction: column;
	}

	.cardMW {
		width: 98%;
		height: 64vh;
		margin-left: 1%;
	}
	/*contener of img cardMW*/
	.section-ContainerMW {
		cursor: pointer;
		height: 64vh;
		overflow: hidden;
	}

	.section-ContainerMW img {
		object-fit: cover;
		width: 100%;
		height: 64vh;
	}

	.containerSectionFirst {
		transform: translateY(5%);
	}

	.featured {
		transform: translateY(80px);
		padding-bottom: 6%;
	}
	.containerRestoNiente {
		width: 100% !important;
		margin: 10px !important;
	}
	.containerRestoNienteText {
		width: 100% !important;
		padding-top: 8% !important;
	}
	.containerRestoNienteText p {
		width: 100%;
		padding: 0px 13px;
	}
	#containerVideos {
		width: 300vw !important;
		overflow: hidden;
	}
	section:last-of-type {
		width: 100vw !important;
		overflow: hidden;
		padding-left: 0px !important;
	}

	figure {
		width: 70vw !important;
		margin-right: 0px !important;
	}

	figure:first-of-type {
		transform: translateX(-50px);
	}

	figure:nth-child(2) {
		transform: translateX(-45%);
	}
	figure video {
		width: 100% !important;
		height: 40vh !important;
		object-fit: cover;
	}
	figcaption {
		text-align: left;
		width: 90%;
		/*	background-color: pink;*/
	}

	footer .listFooter {
		display: none;
	}

	.flex-size:last-of-type {
		width: 100% !important;
	}
	.containerBrands {
		padding-left: 10px !important;
	}

	#gucciFooter {
		font-size: 60pt;
		letter-spacing: 15px;
	}
}

/*animation for up and down of buttone on the haeder -Only for mobile*/
@keyframes upDownButtonHeader {
	0% {
		transform: translateY(3em);
		margin-top: 0%;
		opacity: 0;
	}
	100% {
		transform: translateY(1em);
		margin-top: 2%;
		opacity: 9;
	}
}

/*Animation logo mobile*/
@keyframes animationLogoForMobile {
	0% {
		color: white;
		transform: scale(40%);
		letter-spacing: 35px;
		top: -3% !important;
		left: -68% !important;
	}
	100% {
		color: black;
		transform: scale(14%) translateY(-220%) translateX(-80%);
		letter-spacing: 15px;
		padding-left: 8%;
	}
}

@keyframes logoAnimationReverseoForMobile {
	0% {
		color: black;
		transform: scale(14%) translateY(-220%) translateX(-80%);
		letter-spacing: 15px;
		padding-left: 8%;
	}
	100% {
		color: white;
		font-size: 200pt;
	}
}
